* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
//   font-weight: 100;
//   font-style: normal;
   

  }
  
//   .header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 10px 20px;
//     background-color: #333;
//     color: #fff;
//     min-height: 15vh;
  
//     .logo {
//       font-size: 1.5rem;
//       font-weight: bold;
//     }
  
//     .nav {
//       a {
//         color: #fff;
//         margin: 0 10px;
//         text-decoration: none;
  
//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }
//   }
  
  .products-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
    margin-top: 15vh;

    @media (max-width:355px) {
        display: flex;
        flex-direction: column;
    }
  
    .product-card {
      background-color: #fff;
      border-radius: 8px;
      padding: 10px;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      text-align: center;
  
      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
     
      }
  
      h3 {
        margin: 10px 0;
        font-size: 1.2rem;
      }
  
      p {
        font-size: 1.5rem;
        color: #333;
      }
    }
  }
  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  